
.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__test-box
      = @group.name
      .Chat-main__group-info__test-box__side
        - @group.users.each do |user|
          = user.name
    .Chat-main__group-info__box
      .Chat-main__group-info__box__edit
        = link_to 'Edit',edit_group_path(@group) 

  .messages
    = render @messages

  .Chat-main__message-form
    = form_for [@group, @message] do |f|
      .Chat-main__message-form__type-box
        = f.text_field :body, class: 'form__message', placeholder: 'type a message'
        .Chat-main__message-form__type-box__image   
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      .Chat-main__message-form__send-box
        = f.submit 'Send', class: 'form__submit'